/* ---------- Variables ---------- */
:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #2577fd;
    --yellow: #ffce25;
    --dark-yellow: #e6bb21;
    --pale-yellow: #f4f2ca;
    --dark-blue: #0071fe;
    --red: #ff003c;
    --gray: #5c5858;
}

/* ---------- Text ---------- */
h1, h2, h3, h4 {
    font-family: 'Playfair Display';
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18px;
}

p, a, .btn, table {
    font-family: 'Poppins';
}

a {
    color: var(--black);
    text-decoration: none;
    transition: color 230ms ease-in-out;
}

a:hover {
    color: var(--blue);
}

.italic-text {
    font-family: 'Yellowtail';
    font-size: 25px;
}

.additional-text {
    font-family: 'Playfair Display';
    font-size: 25px;
}

/* ---------- General ---------- */
* {
    box-sizing: border-box;
}

.container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.container--small {
    width: 60%;
    max-width: 1280px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 230ms ease-in-out;
    transition-property: opacity, color, background-color;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.btn-blue:hover {
    color: var(--white);
}

.btn-yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.btn-yellow:hover {
    opacity: 1;
    color: var(--black);
    background-color: var(--dark-yellow);
}

.overlay {
    height: 100%;
    position: relative;
}

.overlay > * {
    z-index: 2;
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.overlay-dark::before {
    background-color:rgba(33, 33, 33, 0.6);
}

.overlay-light::before {
    background-color: rgba(221, 212, 212, 0.6);
}

.dark {
    color: var(--white);
}

.light {
    color: var(--black);
}

footer {
    color: var(--gray);
    padding: 30px 0;
}

.hero-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- Header ---------- */
nav {
    display: flex;
    align-items: center;
}

.header {
    background-color: white;
}

.header .logo-wrapper {
    width: 140px;
    padding: 10px 0;
}

.header-wrapper {
    align-items: center;
}

.listing {
    display: flex;
    font-size: 15px;
}

.listing-item a {
    padding: 20px;
}

.listing-item:last-child a {
    padding-right: 0;
}

.listing-item.active a {
    color: var(--blue);
}

.login {
    margin-left: 50px;
}

.simple-section {
    padding: 60px 0;
}

.flex-columns {
    display: flex;
    justify-content: space-between;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------- Home ---------- */
.home-hero {
    background-image: url('../img/home-news.jpg');
    height: 80vh;
}

.home-hero-info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title--centered {
    text-align: center;
}

.category-cards {
    margin-top: 40px;
}

.category-card {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 80px 40px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.category-card .btn {
    margin: 20px 0 -10px;
}

.category-card .italic-text {
    color: var(--dark-blue);
    text-shadow: 0px -3px 0px #fff;
    z-index: 3;
}

.card-title {
    text-align: right;
}

.woman-cat {
    background-image: url('../img/woman-category.jpeg');
}

.man-cat {
    background-image: url('../img/man-category.jpeg');
}

.winter-cat {
    background-image: url('../img/winter-category.jpeg');
}

.product-row {
    display: flex;
    margin-top: 30px;
}

.product-row:not(:first-child) {
    margin-top: 50px;
}

.product {
    width: 24%;
    margin-right: 20px;
}

.product:nth-child(4) {
    margin-right: 0;
}

.product a:hover {
    color: var(--black);
}

.product-title {
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
    color: var(--black);
}

.product-prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-price {
    display: block;
}

.product-price--sale {
    margin-left: 10px;
    text-decoration: line-through;
    color: var(--red);
}

.product-image-wrapper {
    width: 100%;
    border-radius: 5px;
}

.product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.section--full {
    background-color: var(--pale-yellow);
}

.section-info--center {
    align-self: center;
}

.gallery-row {
    display: flex;
}

.gallery-item {
    width: 20%;
}

.section-info--center h2 {
    margin-bottom: 20px;
}

/* ---------- Shop ---------- */

.hero-section--shop  {
    background-image: url('../img/shop-bg.jpg');
}

.product-search {
    background-color: #F4EDF2;
    border-radius: 50px;
    border: 1px solid #F4EDF2;
    padding: 13px 25px;
    width: 260px;
    line-height: 22px;
    background-position: 220px center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-image: url('../img/search.svg');
}

.categories {
    display: flex;
    align-items: center;
}

/* ---------- Contact ---------- */
.map {
    margin-bottom: -5px;
}

.map iframe {
    width: 100%;
}

.contact-form {
    margin: 50px auto 0 auto;
    width: 500px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-name {
    margin-top: 10px;
}

.contact-input {
    background-color: #F4EDF2;
    border-radius: 5px;
    border: 1px solid #F4EDF2;
    padding: 13px 25px;
    width: 49%;
    line-height: 22px;
    resize: none;
    font-family: 'Poppins';
    font-size: 15px;
}

.contact-message {
    width: 100%;
}

.contact-send {
    display: block;
    margin-top: 20px;
    align-self: center;
}

/* ---------- Checkout ---------- */
.hero-section--checkout {
    background-image: url('../img/checkout.jpg');
}

.checkout-table {
    width: 100%;
    text-align: center;
}

.checkout-product-img {
    width: 130px;
}

.checkout-product-media {
    display: flex;
    align-items: center;
}

.checkout-table td {
    vertical-align: middle;
    padding: 20px 0;
}

.checkout-table th {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.2px;
}

.checkout-product-media .media-body {
    margin-left: 20px;
}

.product-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-change {
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    background-size: 17px;
}

.input-number {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
    border: none;
}

.input-number-decrement {
    background-image: url('../img/icons/minus.svg');
}

.input-number-increment {
    background-image: url('../img/icons/plus.svg');
}


/* ---------- Login ---------- */
.login-wrapper {
    height: 100vh;
    display: flex;
}

.login-data {
    width: 30%;
    padding: 40px;
}

.login-img {
    width: 70%;
    background-image: url('../img/shop-bg.jpg');
}

.login-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.login-form input {
    padding: 10px 15px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #d9d5d5;
    border-radius: 5px;
}

.login-form .btn {
    display: block;
    margin-top: 20px;
    align-self: center;
}

.login-title, .login-form input {
    font-family: 'Poppins';
}

.login-text {
    margin-top: 80px;
    font-size: 14px;
}

.active-link {
    color: var(--blue);
}

@media only screen and (max-width: 1200px) {
    .login-data {
        width: 50%;
    }

    .login-img {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flex-columns {
        flex-direction: column;
        width: 100%;
    }

    .listing-item:first-child a {
        padding-left: 0;
    }

    .logo img {
        width: 100%;
    }

    .login {
        margin: 15px auto 10px;
    }

    .category-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .gallery-item {
        width: 25%;
    }

    .gallery-item:last-child {
        display: none;
    }

    footer p {
        line-height: 1.4em;
        text-align: center;
    }

    .tall-image img {
        width: 230px;
        margin-bottom: 20px;
    }

    .product-filter {
        margin-top: 25px;
    }

    .product-search {
        width: 100%;
        background-position: 96% center;
    }

    .contact-input {
        width: 100%;
    }

    .contact-form {
        width: 95%;
        margin-top: 20px;
    }

    .contact-name {
        margin-top: 0;
    }

    .contact-input {
        margin-top: 10px;
    }

    .title--centered {
        font-size: 60px;
    }
    
    .checkout-product-media {
        flex-direction: column;
    }
    
    .checkout-product-img {
        width: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .login-data {
        width: 100%;
    }

    .login-img {
        display: none;
    }

    .section-title {
        font-size: 60px;
    }
    
    .simple-section {
        padding: 30px 0;
    }

    h2 {
        font-size: 35px;
    }

    .title {
        text-align: center;
    }

    .categories {
        margin-top: 20px;
    }

    .listing {
        width: 100%;
        justify-content: space-between;
    }

    .listing-item a {
        padding: 0;
    }

    .gallery-item {
        width: 50%;
    }

    .gallery-item:nth-child(3),
    .gallery-item:nth-child(4) {
        display: none;
    }

    .product-row {
        flex-direction: column;
    }

    .product {
        width: 100%;
        margin-bottom: 30px;
    }

    .product:last-child {
        margin-bottom: 0;
    }

    .last-col {
        display: none;
    }

    .checkout-table td {
        padding: 20px 10px;
    }
}